<div class="item" th:classappend="${item.done ? 'done' : 'todo'}">
    <input type="checkbox"
           name="done"
           th:checked="${item.done}"
           th:hx-patch="@{/tasks/{id} (id=${item.id})}"
           hx:vals="${ {done: !item.done} }"
           hx-target="closest .item"
           hx-swap="outerHTML">

    <span class="description"
          th:text="${item.description}"
          th:hx-get="@{/tasks/{id} (id=${item.id}, edit=true)}"
          hx-trigger="dblclick"
          hx-target="closest .item"
          hx-swap="outerHTML">
    </span>

    <span class="date"
          th:text="${@viewUtils.getElapsedTimeSince(item.created)}">
    </span>

    <button title="Delete"
            th:hx-delete="@{/tasks/{id} (id=${item.id})}"
            hx-trigger="click"
            hx-confirm="Are you sure to delete this?"
            hx-target="closest .item"
            hx-swap="outerHTML swap:1s">
        <i class="fa-regular fa-trash-can"></i>
    </button>
</div>