<main xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      layout:fragment="main">

    <th:block th:fragment="content">
        <h1>to do...</h1>
        <aside id="error"></aside>

        <input autofocus
               name="description"
               placeholder="add your tasks here..."
               hx-post="/tasks"
               hx-trigger="keyup[key=='Enter' && this.value.trim() !== '']"
               hx-target="#tasks"
               hx-swap="afterbegin"
               hx-on::after-request="this.value=''"/>

        <hr class="section-divider">

        <div id="tasks" hx-get="/tasks?search" hx-trigger="load"></div>
    </th:block>

</main>