body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    display: flex;
    justify-content: center;
    padding: 1em;
}

nav {
    flex-grow: 1;
    max-width: 1000px;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

nav #nav-search {
    flex-grow: 1;
    max-width: 400px;
}

main {
    flex-grow: 1;
    max-width: 800px;
    width: 90vw;
    padding: 1em;
}

hr.body-divider {
    margin: 0;
}

h1 {
    color: orangered;
}

input,
textarea {
    margin-bottom: initial;
}

input[type=checkbox],
input[type=radio] {
    width: 1em;
    height: 1em;
    accent-color: orangered;
}

aside {
    margin: 2em 0;
}

form label,
form button {
    margin: 1em 0;
}


.item {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.item .name {
    font-style: italic;
}

.item .description {
    flex-grow: 1;
}

.item .tag {
    border: 1px solid orangered;
    border-radius: .5em;
    padding: 0 .5em;
    font-size: .75em;
}

.item .date {
    font-size: .75em;
}

.item.done,
.item.disabled {
    color: slategray;
    text-decoration: line-through;
}

.item.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}


.loader {
    text-align: center;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

[x-cloak] {
    display: none !important;
}


#error span {
    white-space: pre-line;
}


i.fa-trash-can {
    color: red;
}

i.fa-xmark {
    color: darkred;
}