<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head hx-head="merge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"allowNestedOobSwaps":false}'>

    <meta name="csrf-token" th:content="${_csrf.token}"/>
    <meta name="csrf-header" th:content="${_csrf.headerName}"/>

    <script defer src="/webjars/htmx.org/2.0.8/dist/htmx.min.js"></script>
    <script defer src="/webjars/htmx-ext-head-support/2.0.5/head-support.js"></script>
    <script defer src="/webjars/alpinejs/3.15.2/dist/cdn.min.js"></script>

    <script>
      document.addEventListener('htmx:configRequest', (event) => {
        const header = htmx.find('meta[name=csrf-header]')?.content;
        const token = htmx.find('meta[name=csrf-token]')?.content;
        if (header && token) event.detail.headers[header] = token;
      });
    </script>

    <link rel="stylesheet" href="/webjars/font-awesome/7.0.1/css/all.css">
    <link rel="stylesheet" href="/css/no-class.css">
    <link rel="stylesheet" href="/css/custom.css">

    <title>to-do list</title>
</head>

<body hx-ext="head-support">

<header>
    <th:block th:insert="~{nav}"></th:block>
</header>

<hr class="body-divider">

<main layout:fragment="main">
    <p>Page content goes here</p>
</main>

<hr class="body-divider">

<footer>
    <span>This is <a href="https://cs50.harvard.edu/x/" target="_blank">CS50</a> Final Project</span>
</footer>

</body>

</html>