<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head hx-head="merge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"allowNestedOobSwaps":false}'>

    <meta name="csrf-token" th:content="${_csrf.token}"/>
    <meta name="csrf-header" th:content="${_csrf.headerName}"/>

    <script defer src="/webjars/htmx.org/2.0.3/dist/htmx.min.js"></script>
    <script defer src="/webjars/htmx-ext-head-support/2.0.2/head-support.js"></script>
    <script defer src="/webjars/alpinejs/3.14.3/dist/cdn.min.js"></script>
    <script>
      document.addEventListener('htmx:configRequest', (event) => {
        const header = htmx.find('meta[name=csrf-header]')?.content;
        const token = htmx.find('meta[name=csrf-token]')?.content;
        if (header && token) event.detail.headers[header] = token;
      });
    </script>

    <link rel="stylesheet" href="/webjars/font-awesome/6.6.0/css/all.css">
    <link rel="stylesheet" href="/css/no-class.css">
    <link rel="stylesheet" href="/css/custom.css">

    <title>To Do List</title>
</head>

<body hx-ext="head-support">
<header>
    <nav x-data="{ tab: window.location.pathname.substring(1) || 'home' }"
         x-on:tab-change.window="tab = $event.detail.value">
        <div id="nav-home">
            <a hx-get="/home" hx-push-url="true" hx-target="main">Home</a> |
            <a hx-get="/tasks" hx-push-url="true" hx-target="main">Tasks</a>
        </div>
        <div id="nav-search" sec:authorize="isAuthenticated()">
            <input x-show="tab === 'tasks'"
                   type="search"
                   name="search"
                   placeholder="begin typing to search..."
                   hx-get="/tasks"
                   hx-trigger="input changed delay:500ms, search"
                   hx-target="#tasks">
        </div>
        <div id="nav-user" sec:authorize="isAuthenticated()">
            Hi <span sec:authentication="principal.planner.name">User</span> |
            <a hx-post="/logout">Log out</a>
        </div>
        <div id="nav-login" sec:authorize="isAnonymous()">
            <a hx-get="/signup" hx-push-url="true" hx-target="main">Sign up</a> |
            <a hx-get="/login" hx-push-url="true" hx-target="main">Log in</a>
        </div>
    </nav>
</header>

<hr class="body-divider">

<main layout:fragment="main">
    <p>Page content goes here</p>
</main>

<hr class="body-divider">

<footer>
    <span>This is <a href="https://cs50.harvard.edu/x/" target="_blank">CS50</a> Final Project</span>
</footer>
</body>

</html>