<div class="item" th:classappend="${item.done ? 'done' : 'todo'}">
    <input class="description"
           name="description"
           th:value="${item.description}"
           placeholder="just type and hit enter..."
           autofocus
           th:hx-put="@{/items/{id} (id=${item.id})}"
           hx:vals="${ {done: item.done} }"
           hx-trigger="keyup[key=='Enter' && this.value.trim() !== '']"
           hx-target="closest .item"
           hx-swap="outerHTML"/>

    <button title="Cancel"
            th:hx-get="@{/items/{id} (id=${item.id})}"
            hx-trigger="click, blur from:.description, keyup[key=='Escape'] from:body"
            hx-target="closest .item"
            hx-swap="outerHTML">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>